{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>My Tasks</h1>
            {% if task_object|length >= 1 %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in task_object %}
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.start_date|date:"M. d, Y" }}</td>
                        <td>{{ task.due_date|date:"M. d, Y" }}</td>
                        <td>{{ task.is_completed|yesno }}</td>
                    <tr>
                    {% endfor %}
                </tbody>
                {% else %}
                <p>You have no tasks</p>
            </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
