{% extends 'base.html' %}

{% block content %}
    <main>
        <div>
            <h1>{{ project_object.name }}</h1>
            <p>{{ project_object.description}}</p>
            <h2>Tasks</h2>
            <p>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </p>
            {% if project_object.tasks.all|length >= 1 %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in project_object.tasks.all %}
                    <tr>
                        <td>{{ task.name }}</td>
                        <td>{{ task.assignee }}</td>
                        <td>{{ task.start_date|date:"M. d, Y" }}</td>
                        <td>{{ task.due_date|date:"M. d, Y" }}</td>
                        <td>{{ task.is_completed|yesno }}</td>
                    <tr>
                    {% endfor %}
                </tbody>
                {% else %}
                <p>This project has no tasks</p>
            </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}